body {
    background-color: black;
}

html{
    scroll-behavior: smooth;
}
#header{ 
    width: 100%;
     height: 100vh;
     background-image: url(images/portrait_large_scale_1.jpg); 
     background-size: cover;
     background-position: center; }


#header .container{
    margin-top: 20px;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
   color: white;
}

.header-text h1{
    font-size: 60px;
    font-weight: bold;
    color: pink;
}
.nav-link{
    color: black;
    margin: 30px;
}
.nav-link:hover{
    color: #FF92A5;
    opacity: 80%;
}




h1{
    color: white;
    font-size: 70px;
    padding: 0 120px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
}


#creative_coding,
#web_design,
#graphic_design,
#media_studio,
#principles_of_3D_environments,
#contact_me
{
    height: 1000px; /* use this to control height of sections and alievate any flex issues*/
}

#about_me .about-me-col-1 img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

#about{
    padding: 80px 0;
}

.about-me-col-1{
    flex-basis: 35%;
}

.about-me-col-2{
    flex-basis: 60%;
    font-weight: bold;
    color: #fff;
}

.subheading_about{
    font-size: 60px;

}

p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

.tab-headers{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FF92A5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#FF92A5;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circle-image-creative-coding-1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #FF92A5;
    margin-bottom: 0;
    object-fit: cover;

}

#creative_coding .row{
    min-height: 300px;
}

#creative_coding{
    padding: 50px 0;
}

#web_design .row{
    min-height: 300px;
}

#web_design{
    padding: 50px 0;
}

#media_studio .row{
    min-height: 300px;
}

#media_studio{
    padding: 50px 0;
}

#principles_of_3D_environments .row{
    min-height: 300px;
}

#principles_of_3D_environments{
    padding: 50px 0;
    margin-bottom: 0;
}

#contact_me .row{
    min-height: 300px;
}

#contact_me{
    padding: 50px 0;
    margin-top: 0;
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;
    padding-left: 100px;
}

.contact-left h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 20px; 
    padding: 0;
}

.contact-inputs {
   width: 400px;
   height: 50px;
   border: none;
   outline: none;
   padding-left: 25px;
   font-weight: 500;
   color: #666;
   border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #FF92A5;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #FF92A5, #800080);
    cursor: pointer;
}

.contact-inputs::placeholder{
    color: #FF92A5;
}
.contact-right {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 
}

.contact-right img {
    max-width: 1000px; 
    height: auto;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 800px) { /* controlling small screen view for contact page*/
    .contact-inputs{
        width: 80vw;
    }
    .contact-left{
        padding-left: 10px;;
    }
    .contact-right{
        display: none;
    }
    .contact-left h1{
        font-size: 50px;
    }
}
