body {
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/portrait_placeholder.png);
    background-size: cover;
    background-position: center;
}

#header .container{
    margin-top: 20px;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
   color: white;
}

.header-text h1{
    font-size: 60px;
    font-weight: bold;
    color: pink;
}
.nav-link{
    color: black;
    margin: 30px;
}

h1{
    color: white;
    font-size: 70px;
    
}

#about_me,
#creative_coding,
#web_design,
#graphic_design,
#media_studio,
#principles_of_3D_environments{
    height: 700px;
}