body {
    background-color: black;
}

html{
    scroll-behavior: smooth;
}
#header{ 
    width: 100%;
     height: 100vh;
     background-image: url(images/portrait_large_scale_1.jpg); 
     background-size: cover;
     background-position: center; }


#header .container{
    margin-top: 20px;
}

.header-text{
    margin-top: 15%;
    font-size: 30px;
   color: white;
}

.header-text h1{
    font-size: 60px;
    font-weight: bold;
    color: pink;
}

.header-text p{ /* use in media queries to change font size */
    font-size: 15px;
   color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.nav-link{
    color: black;
    margin: 30px;
}
.nav-link:hover{
    color: #FF92A5;
    opacity: 80%;
    text-decoration: none;
}

.navbar-color{
    background-color: white;
}


h1{
    color: white;
    font-size: 70px;
    padding: 0 120px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.h5-footer{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 120px;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: bold;
    font-style: normal;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



#about_me .about-me-col-1 img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

#about{
    padding: 80px 0;
}

.about-me-col-1{
    flex-basis: 35%;
}

.about-me-col-2{
    flex-basis: 60%;
    font-weight: bold;
    color: #fff;
}

.subheading-about{
    font-size: 60px;
    padding-left: 60px;
}

.about-p{
    font-size: 18px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}



.media-p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.web-link-p{
    font-size: 15px;
    color: #ADD8E6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
}

.media-h4{
    font-size: 25px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.media-h4-short-video{
    font-size: 25px;
    margin-top: 30px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.media-h4-coffee{
    font-size: 25px;
    margin-top: 30px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.web-h4{
    font-size: 25px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.web-h4-bootstrap{
    font-size: 25px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

.web-p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.creative-coding-p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.creative-coding-h4{
    font-size: 25px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.principles-p{
    font-size: 15px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: left;
}

.principles-h4{
    font-size: 25px;
    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.tab-headers{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #FF92A5;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:#FF92A5;
    font-size: 14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.circle-image-creative-coding-1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #FF92A5;
    margin-bottom: 0;
    object-fit: cover;
    box-sizing: border-box;
    margin-top: 50px;   
}





#creative_coding .row{
    min-height: 300px;
}

#creative_coding{
    padding: 50px 0;
    margin-bottom: 10px;
}

#web_design .row{
    min-height: 300px;
}

#web_design{
    padding: 50px 0;
    margin-bottom: 10px;
}

#media_studio .row{
    min-height: 300px;
}

#media_studio{
    padding: 50px 0;
    margin-bottom: 50px;
}

#principles_of_3D_environments .row{
    min-height: 300px;
}

#principles_of_3D_environments{
   margin-bottom: 50px;
}

#contact_me .row{
    min-height: 300px;
}

#contact_me{
    margin-top: -20px;
    padding: 50px 0;
    padding-bottom: 0px;
}

.contact-container {
    height: 550px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 0px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 20px;
    padding-left: 100px;
    height: 400px; /* controls the contact me section padding effectively */
    margin-bottom: 100px;
}

.contact-left h1 {
    color: white;
    font-size: 70px;
    margin-bottom: 20px; 
    padding: 0;
}

.contact-inputs {
   width: 400px;
   height: 50px;
   border: none;
   outline: none;
   padding-left: 25px;
   font-weight: 500;
   color: #666;
   border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #FF92A5;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: black;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #FF92A5, #800080);
    cursor: pointer;
}

.contact-inputs::placeholder{
    color: #FF92A5;
}
.contact-right {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex: 1; 
    margin-bottom: 100px;
}

.contact-right img {
    max-width: 100%; /* Image will take up maximum space but never exceed its container's width */
    width: 100%;     /* Ensures the image is responsive and shrinks with the container */
    height: auto;    /* Maintains the aspect ratio of the image */
    object-fit: cover; /* Ensures image fills its container */
}




@media (min-width: 992px) {
    .contact-right img{
        max-width: 75%;
    }
}

@media (min-width: 1200px) {
    .contact-right img{
        max-width: 75%;
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#media_studio iframe{
    border: 2px solid #FF92A5;
    border-radius: 5px;
    padding: 5px;
}

#principles_of_3D_environments iframe{
    border: 2px solid #FF92A5;
    border-radius: 5px;
    padding: 5px;
}




.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}



.iframe-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.iframe-container-last{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container-last iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* handles the iframe styling for the last video to ensure even spacing between sections */
}

.image-container {
    width: 100%; /* or specify a fixed width if needed */
    height: auto; /* Remove any fixed height to allow the container to expand */
    border: 2px solid #FF92A5; /* Pink border */
    border-radius: 5px;
}

.image-container img {
        width: 100%; /* Ensures the image takes the full width of its container */
        height: auto; /* Maintains the aspect ratio */
        object-fit: contain; /* Ensures the whole image is visible within its container */
}


.footer-color{
    background-color: #FF92A5;   
    margin-top: 0px; /* Remove any margin that pushes the footer down */
    padding-top: 10px; /* Optionally reduce padding on top */
    padding-bottom: 10px;
}
@media only screen and (max-width: 700px) {
    #header {
        background-image: none; /* New image for 800px screens */
        height: auto;
    }
    .header-text p {
        font-size: 16px; /* Adjust as needed for 800px */
        padding-left: 60px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .about-me-col-1,.about-me-col-2{
        flex-basis: 100%;
    }

    .about-me-col-1{
        margin-bottom: 30px;
    }

    .about-p{
        font-size: 14px;
    }

}

@media (min-width: 701px) and (max-width: 1100px) { /* ipad size */
    #header{
        background-image: url(images/mobile_test.jpg);
    }
    .header-text p{
        font-size: 30px;
        padding-left: 140px;
    }
    .header-text h1{
        font-size: 50px;
        padding-right: 100px;
        text-align: center;
    }

}

@media only screen and (min-width: 1101px) and (max-width: 1200px) {
    #header {
        background-image: url(images/testing.jpg)
    }

    .header-text h1{
        padding-right: 100px;
    }

    .header-text p{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    #header {
        background-image: url(images/portrait_laptop.jpg);
    }
}




@media (max-width: 950px) { /* controlling small screen view for contact page*/
    .contact-left {
        padding-left: 0; /* Remove left padding */
        width: 100%; /* Full width */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the content horizontally */
        text-align: center; /* Centers the text */
    }

    .contact-left h1 {
        font-size: 50px; /* Adjust title size */
        text-align: center; /* Center the title */
    }

    .contact-inputs {
        width: 80vw; /* Adjust the width for mobile */
        margin: 10px 0; /* Add some vertical margin */
        height: 100px; /* Increase the height for taller input fields */
        font-size: 18px; /* Increase the font size for better readability */
        padding-left: 25px; /* Keep the padding consistent */
    }

    .contact-left textarea {
        width: 80vw; /* Ensure the textarea also scales */
    }

    .contact-left button {
        align-self: center; /* Center the button */
    }

    .contact-right {
        display: none; /* Hide the image section on smaller screens */
}
}


@media (max-width: 950px) {
     #header {
        background-image: none; /* New image for 800px screens */
        height: auto;
    }
    .circle-image-creative-coding-1{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .iframe-container{
        margin-bottom: 10px; /* provides spacing between video and circular images media studio, handle all spacing this way*/
        margin-top: 10px; 
    }
    .media-p{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px; 
    }

    .media-h4{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px; 
    }

    .media-h4-short-video{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }
    .media-h4-coffee{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }

    .web-p{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }

    .web-h4{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px; 
    }

    .web-h4-bootstrap{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px; 
    }

    .creative-coding-p{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }

    .creative-coding-h4{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }

    .principles-p{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }

    .principles-h4{
        margin-bottom: 10px; /* provides spacing between text and circular images media studio, handle all spacing this way*/
        margin-top: 10px;
    }
    .tab-links{
        font-size: 16px;
        padding-left: 2px;
    }

    .about-p{
        padding-left: 2px;
    }
    .subheading-about {
        padding: 0px;
    }

    


    h1{
        color: white;
        font-size: 60px;
        text-align: center;
        padding: 0 20px;
        font-family: "lorimer-no-2", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .h5-footer{
        color: white;
        font-size: 20px;
        text-align: left;
        padding: 0 30px;
        font-family: "lorimer-no-2", sans-serif;
        font-weight: bold;
        font-style: normal;
    }
    
}